.food-container1 {
    display: flex;
    flex-wrap: wrap;
}

#option-header {
    text-align: center;
    background-color: rgb(120, 187, 250);
    padding: 8px;
    font-weight: bold;
    height: 40px;
    font-size: 25px;
    border-radius: 8px;
}

#optiondiv {
    border: 2px solid;
    border-radius: 8px;
}

input[name="quiz5"] {
    width: 90%;
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
    font-size: large;
    font-weight: bold;
  }