#stage1 {
    width: auto;
    height: auto;
    border: 2px solid;
    padding: 50px 20px;
}

#stage2 {
    width: auto;
    height: auto;
    border: 2px solid;
    padding: 50px 20px;
}

#stage3 {
    width: auto;
    height: auto;
    border: 2px solid;
    padding: 50px 20px;
}

#stage4 {
    width: auto;
    height: auto;
    border: 2px solid;
    padding: 50px 20px;
}

#stage5 {
    width: auto;
    height: auto;
    border: 2px solid;
    padding: 50px 20px;
}

#stage6 {
    width: auto;
    height: auto;
    border: 2px solid;
    padding: 50px 20px;
}
