.Direction{
    font-size: 18px;
    margin: 10px;
}

button{
    width: 32px;
    height: 32px;
    margin: 0 4px;
    border-radius: 15px;
    border: none;
    background-color: rgba(0,0,0,0)
}
.select{
    border: 2px darkolivegreen solid;
}
button[id='sun']{
    background: url("https://img.icons8.com/?size=32&id=648&format=png&color=000000") no-repeat center/contain;
}

button[id='cloud']{
    background: url("https://img.icons8.com/?size=32&id=4xttFVmp97nX&format=png&color=000000") no-repeat center/contain;
}
button[id='rain']{
    background: url("https://img.icons8.com/?size=32&id=390&format=png&color=000000") no-repeat center/contain;
}

button[id='snow']{
    background: url("https://img.icons8.com/?size=32&id=664&format=png&color=000000") no-repeat center/contain;
}

input{
    text-align: right;
    width: 40px;
    height: 20px;
}

.weekSelect{
    text-align: center;
    width: 40px;
}