input[name="quiz2"] {
    width: 400px;
    height: 30px;
    text-align: left;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-weight: bold;
}

#img_Step1_Round1 {
    width: 200px;
    height: auto;
}

.step2_round1_stage3 tr { 
    height: 60px;
}

.step2_round1_stage3 td, th { 
    border: 1px solid black;
}