#stage1 {
    width: auto;
    height: auto;
    border: 2px solid;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#stage2 {
    width: auto;
    height: auto;
    border: 2px solid;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#stage3 {
    width: auto;
    height: auto;
    border: 2px solid;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#stage4 {
    width: auto;
    height: auto;
    border: 2px solid;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

