html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#topbar {
    background: rgb(155, 235, 155);
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    padding: 40px; /* 상하 여백 설정 */
}

#container {
    flex: 1;
    padding: 20px; /* 적절한 여백 설정 */
    display: flex;
    justify-content: center;
}

footer {
    background: gray;
    text-align: center;
    padding: 10px 0; /* 상하 여백 설정 */
}

.roundBtn {
    font-size: 28px;
    width: 680px;
    border-radius: 15px;
    border: none;
    height: 80px;
    margin: 10px;
    background-color: #FFF1A9
}

.roundBtn:hover {
    border: 2px solid grey;
}

.roundClear{
    background-color: #23FF6C;
}

.roundBtnDisabled, .BtnBack{
    background-color: #B3B3B3;
}

.roundBtnDisabled, .roundBtnDisabled:hover{
    color: rgb(68, 68, 68);
    font-style: italic;
    border: none;
}